

@media only screen and (max-width: 1140px) {
    .row{ padding: 0 2%; }
    body{ font-size: 19px ;}
    .nav-bar{ padding: 0 4.2rem; }
    .nav-bar ul li a:link,
    .nav-bar ul li a:visited{ margin:0px 15px ;}
    .plan-box div{ padding: 12px; }
}
@media only screen and (max-width: 1023px) {
     body{ font-size: 18px ;}
    .nav-bar{ padding: 0 3.2rem; }
    .nav-bar ul li a:link,
    .nav-bar ul li a:visited{ margin:0px 12px ;} 
    .hero-textbox { margin-top: 4.2rem ; margin-left: 4.2rem;}
    .plan-box div{padding: 10px;}   
    .city-box{margin: 0px 1%;}
    .icon-small{ width: 15px; margin-right: 5px}
    .city-feature{ font-size: 90%; }
     section{ padding: 60px 0; }
}
@media only screen and (max-width: 864px) {
    .plan-box{ margin: 0 10px;}
    .plan-box ul li{ font-size: 85%; }
    .work-steps div{ height: 48px; width: 48px; font-size: 130%; margin-right: 18px; }
    .work-steps{ margin-bottom: 40px; width: 100%; }
     footer{ padding: 40px 10px; }
    .hero-textbox { margin-top: 3.2rem ; margin-left: 2.5rem;}
    .nav-bar{ padding: 0 2.2rem; }


    
}
@media only screen and (max-width: 767px) {
    body{ font-size: 16px; }
    section{ padding: 40px 0; }
    .nav-bar ul{    display: none; }
    .row{ padding: 0 4%; }
    .nav-bar{ padding: 0 1.2rem ; }
    .content{ flex-direction: column; }
    .box{ width: 100%; }
    .steps-content{ flex-direction: column; }
    .steps-img{ width: 100%; text-align: center; margin-bottom: 22px; }
    .app-screen{ padding-right: 0 ; width: 35%; }
    .steps-box{ width: 85%; }
    .work-steps div{ margin-right: 10px; height: 40px; width:40px ; }
    .work-steps{ margin-bottom: 12px; }
    .steps-box{ padding: 0 6%; }
    .city{ flex-direction: column; }
    .city-box{ margin-bottom: 12px; }
    .tm-content{ flex-direction: column; }
    .tm-box{ width: 100%; margin: 0;  }
    .plans-content{ flex-direction: column; align-items: center; }
    .plan-box{ width: 60%; margin: 18px 0px; }
    .hero-textbox{ margin: 2.2rem 1.2rem;}
     h1{ font-size: 180%; }
     h2{ font-size: 150%; }
    .footer-row{ padding: 0 18px; flex-direction: column; }
    .footer-row div{ width: 100%; }
     footer p, .footer-row div:last-child{ margin-top: 12px; }
     .contact-form{ width: 80%; }
     .btn-full:link, .btn-full:visited{ margin-right: 10px; }
     .btn-app img{ height: 45px; margin-right: 6px;}
     .context p{ width: 80%;
        margin: 20px auto 0 auto; }
}
@media only screen and (max-width: 480px) {
     body{ font-size: 14px ; }
     h1{ font-size: 160%; }
     h2{ font-size: 130%; margin: 0 15px; }
     .hero-textbox{ margin: 2rem 0.8rem ; }
     .btns{ margin-top: 1rem; }
     .btn-full:link, .btn-full:visited{ margin-right: 3px; }
     .btn:link, .btn:visited { padding: 7px 20px; }
     .work-steps div{ width:30px ; height:30px ; }
     .btn-app img{ height: 40px; }
     .steps-box{ width: 92%; padding: 0 4%; }
     .plan-box{ width: 70%; }
     .footer-row{ padding: 0; }
     .footer-row li a{ margin: 0 6px; }

}